*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    margin-left: 100px;
    margin-right: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

header{
    background-color: rgb(66, 66, 15);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 200px;
    border-radius: 50%;
   
}
.logo img{
    border-radius: 50%;
 border: 3px solid blueviolet;
}
nav{
    background-color: rgb(17, 68, 17);
}
main{
    background-color: rgb(122, 206, 223);
}
footer{
    background-color: rgb(101, 43, 2);
    text-align: center;
    color: aliceblue;
    padding: 10px;
    line-height: 25px;
}
p{
    text-align: center;
}
img{
    width: 100%;
    margin: auto;
}
.imagen{
    width: 50%;
    background-color: blue;
   /*  padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 40px;
    */
   padding: 30px 50px;
   border: 5px solid green;
  /*  margin-top: 10px;
   margin-right: 20px;
   margin-bottom: 30px;
   margin-left: 40px; */
   margin: 40px auto;
 /*   outline: 7px double; */
   box-shadow: 9px 9px 9px 9px red;
}
.color{
    padding:35px 25pz 42px 26px;
    border: 5px solid rgb(59, 16, 92) ;
    margin: 34px auto ;
    outline: 3px solid red;
    box-shadow: 9px 9px 9px 9px;

}
h1{
    color: yellowgreen;
    text-shadow: 9px 9px 9px  red;
    padding: 10px;
}
h1{
    color: chocolate;
    text-decoration: double grey;

    }
    h2{
        color: aqua;
    }
    section > h2{
        color: rgb(76, 23, 129);
        /* > hijo directo de */
    }
    .imagen + p{
        color: rgb(220, 15, 15);
        /* parrafó continuo */
    }
    .bloque img{
        width: 150px;
        padding: 30px;
        display: block;
    }
    nav{
        padding: 20px;
        text-align: center;
    }
    nav a{
        background-color: rgb(148, 5, 5);
        border-radius: 30px;
        padding: 5px;
        color: aliceblue;
        text-decoration: none;
        margin-right: 20px;
       
       }
       nav a:hover{
        background-color: rgba(1, 1, 10, 0);
        color: blanchedalmond;
        transition-delay: 0.2s;
       }